h3 {
    text-align: center;
    text-decoration: none;
    word-spacing: 5px;
  }

  p {
    text-align: center;
    
  }

body {
    background-color: #e5e5e5;
    font-family: 'Lucida Sans';
}

header {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

.content {
    padding: 1em 4em;
}

.products .product-list {
    padding-left: 0px;
    list-style: none;
}

.products .product-list .product {
    margin: 1%;
    height: 550px;
    background-color: #FFF;
}

.products .product-list .product .product-content {
    padding: 2%;
}

 .products .product-list .product img {
     width: 100%;
 }

 .products .product-list .product .product-content h4 small {
     font-size: 10px;
 }

 .products .product-list .product button {
     display: block;
     margin: 2% auto;
     padding: 10px 15px;
     text-transform: uppercase;
     border-radius: 20px;
     outline: none;
 }

 .cart .cart-list {
     padding-left: 0px;
     list-style: none;
 }

 .cart .cart-list .item h4,
 .cart .cart-list .item .close {
     display: inline;
 }
 
 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

.site-footer{
    padding-top: 5px;
    padding-bottom: 5px;
}

h4 {
    float: center
    border 1px solid black;
}

.main {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
  }

  h4 {
    position: absolute;
    left: 700px;
    top: 300px;
  }